@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100%;
    font-family: "Poppins";
    
}

body {
    background-image: url(../images/bg-intro-desktop.png);
    background-image: no-repeat;
    background-color: hsl(0, 100%, 74%) ;
    
}

main {
    display: flex;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;  
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.conteudo {
    color: #FFF;
    width: 600px;
    position: relative;
    
    
}

form {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 7px  rgba(0, 0, 0, 0.288);
}

.container {
    display: flex;
    flex-direction: column;
    width: 460px;
    margin-left: 80px;
    align-items: center;
}

.btn-sup {
    margin-bottom: 25px;
    height: 55px;
    background-color: hsl(248, 32%, 49%);
    color: #FFF;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px  rgba(0, 0, 0, 0.288);
    width: 450px;
}
.btn-sup:hover {
    background-color: hsl(248, 41%, 37%);
    letter-spacing: .5px;
}

form input {
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    text-indent: 20px;
    
}

.btn-inf {
    width: 400px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 55px;
    background-color: hsl(154, 59%, 51%);
    color: #FFF;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 2px  rgba(0, 0, 0, 0.288);
}

.btn-inf:hover {
    background-color: hsl(154, 72%, 38%);
    letter-spacing: 0.5px;

}

form p {
    font-size: 10px;
    text-align: center;
}

form span {
    color: hsl(0, 100%, 74%) ;
    font-weight: bold;
}

button {
    cursor: pointer;
}

@media (max-width: 900px){
    
    main {
        display: flex;
        flex-direction: column;
    }

    .conteudo {
        width: 400px;
        margin-bottom: 50px;
        margin-left: 70px;
        
        text-align: center;
    }
    
}

@media (max-width: 500px) {
    main {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
}